/*
ANIME ACCORDION SCSS STYLESHEET DOCUMENT
----------------------------------------
    File Name: animeAccordion
    URL Section: .../anime/name
    Extra Information: Anime Information and Snyopsis
----------------------------------
*/
$white: rgba(254,255,250,1);
$grey: rgba(220,231,235,1);
$red: rgba(255,104,115,1);
$black: rgba(48,69,92,0.8);

%transitionFade {
    transition: all 0.25s ease-in-out;
}

%accordionArrow {
    content: "";
    position: absolute;
    width: 3px;
    height: 9px;
    background-color: $red;
    @extend %transitionFade;
}

%collapseAnimeSectionContent {
    margin: 0;
    max-height: 0px;
    opacity: 0;
}

@keyframes accordionAnimation {
    0% {
        opacity: 0;
        transform-origin: top center;
        transform: rotateX(-90deg);
    }

    5% {
        opacity: 1;
    }

    80% {
        transform: rotateX(8deg);
    }

    83% {
        transform: rotateX(6deg);
    }

    92% {
        transform: rotateX(-3deg);
    }

    100% {
        transform-origin: top center;
        transform: rotateX(0deg);
    }
}

.accordionSectionWrapper {
    margin-left: 25px;
    padding: 0.0001em 20px;
    border-width: 1px;
    border-left-style: ridge;
    border-left-color: salmon;
    .animeSectionContent {
        padding: 0.1em 0;
        p {
            margin: 0;
            color: $black;
        }
    }
}

#animeAccordion {
    .animeAccordionSection {
        position: relative;
        margin: 0;
        padding: 18px 0;
        border-top: 0.025px solid $grey;
        animation: accordionAnimation 0.5s ease both;

        &:nth-of-type(1) {
            animation-delay: 0.5s;
        }

        &:nth-of-type(2) {
            animation-delay: 0.75s;
        }

        &:nth-of-type(3) {
            animation-delay: 1s;
        }

        &:last-of-type {
            padding-bottom: 0;
        }

        .accordionArrow {
            position: absolute;
            margin-top: 16px;
            right: 0;
            cursor: pointer;
            transform: translate(-6px,0);
            &:before {
                @extend %accordionArrow;
                transform: translate(-2.5px,0) rotate(45deg);
            }

            &:after {
                @extend %accordionArrow;
                transform: translate(2px,0) rotate(-45deg);
            }
        }

        h2 {

            display: block;
            margin: 0;
            color: $red;
            font-size: 26px;
            line-height: 34px;
            font-weight: 300;
            letter-spacing: 1px;
            -webkit-tap-highlight-color: rgba(0,0,0,0);
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        p {
//            font-family: testFont;
            position: relative;
            margin: 0.5em 0;
            overflow: hidden;
            @extend %transitionFade;
        }
    }

    input[type=checkbox] {
        position: absolute;
        width: 100%;
        height: 20%;
        opacity: 0;
        cursor: pointer;
        &:checked {
            &~.accordionArrow {
                &:before {
                    transform: translate(2.5px, 0) rotate(45deg);
                }

                &:after {
                    transform: translate(-2px, 0) rotate(-45deg);
                }
            }

            &~p {
                @extend %collapseAnimeSectionContent;
                &~.accordionSectionWrapper {
                    @extend %collapseAnimeSectionContent;
                }
            }
        }
    }
}
