/*
ANIME EPISODES SCSS STYLESHEET DOCUMENT 
---------------------------------------
    File Name: animeEpisodes
    URL Section: .../anime/name
    Extra Information: Anime Episodes Initializer
---------------------------------------
*/
* {
    box-sizing: border-box;
}

.animeEpisodes {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.animeEpisode {    
    flex: 25%;
    max-width: 25%;
    padding: 0.3em;
}

.episodeLayout {
    background-color: salmon;
}

.episodeThumbnail {
    height: 11.5em;
    padding: 0.2em;
    width: 100%;
}

.thumbnail {
    width: 100%;
    height: 100%;
    object-fit: fill;
}