/*
ANIME SVG SCSS STYLESHEET DOCUMENT
----------------------------------
    File Name: backgroundSVG
    URL Section: .../anime/name
    Extra Information: Background + SVG Initializer + spacer
----------------------------------
*/
#contentBackground {
    position: absolute;
    width: 100%;
    overflow: hidden;
    z-index: -1;
}

#contentSpacer {
    overflow: hidden;
}

svg {
    width: 100%;
    #background {
        fill: url(#animeBackground);
    }

    #backgroundFade {
        fill: url(#animeBackgroundFade);
    }

    #backgroundFadeStart {
        stop-color: $themeLight;
        stop-opacity: 1;
    }

    #backgroundFadeEnd {
        stop-color: $themeLight;
        stop-opacity: 0;
    }

    #upperCoverHolder {
        fill-opacity: 0.2;
    }

    #upperLineUp {
        stroke: url(#upperLineUpFade);
    }

    #upperLineDown {
        stroke: url(#upperLineDownFade);
    }

    .upperLineFadeStart {
        stop-opacity: 1;
    }

    .upperLineFadeEnd {
        stop-opacity: 0;
    }

    .upperLineFade {
        stroke-width: 0.2;
        stroke-linecap: butt;
    }

    #lowerCoverHolderJoiner {
        fill-opacity: 0.3;
    }

    #lowerCoverHolder {
        fill-opacity: 0.6;
        stroke: $themeLight;
        stroke-width: 0.8;
    }

    .lowerLineDashed {
        stroke-width: 0.3;
        stroke-dasharray: 0.2;
    }

    #coverFrame {
        fill: none;
        stroke-width: 0.8;
        stroke-linejoin: miter;
    }

    #coverAccent {
        fill: none;
        stroke-width: 0.75;
        stroke-opacity: 0.4;
        stroke-linejoin: bevel;
    }

    #cover {
        fill: url(#animeCover);
    }
}
