
@font-face {
    font-family: testFont;
    src: url(assets/fonts1/Ikaros-Light.otf);
}

h1 {
    font-family: testFont;
    font-size: 50px;
//    letter-spacing: -5px;
//    text-transform: uppercase;

}
