<div #headerMenuSticky class="header-menu" [class.header-menu-fixed]="headerMenuState">
  <div id="header-navigation">
    <ul id="header-navigation-list">
      <ng-content></ng-content>
    </ul>
  </div>
</div>


