@import '../../../assets/stylesheets/globalVariables';

.header-menu {
  // background-color: salmon;
  height: auto;
  margin-right: $header-width;
  padding: 10px 0;
  border-bottom: 1px solid rgba(32, 35, 39, 0.2);
}


.header-menu-fixed {

}
#test {
  position: fixed;
  top: 0;
  z-index: 1000;
  height: 100%;
  width: 50px;
  right: 0;
  background-color: darksalmon;
}

.header-menu-fixed {
//   &::before {
//     content: "";
//     position: absolute;
//     z-index: 1000;
//     top: 0;
//     bottom: 0;
//     right: 50%;
//     border-left: 1px solid rgba(32, 35, 39, 0.2);
//     transform: translate(-50%);
//     margin-top: 200px;
//   }


//   text-orientation: upright;
// writing-mode: vertical-lr;


  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  // overflow: hidden;
  // background-color: salmon;
  // z-index: 100000;
  // margin-right: 0;
  width: 2em;


// #test {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   height: 100%;
//   margin: 0;
// }

  #header-navigation {
    position: fixed;
  }
}

// .header-menu-list {
//   overflow: auto;
//   white-space: nowrap;
//   input {
//     // display: none;
//     display: inline-block;
//     color: white;
//     text-align: center;
//     padding: 14px;
//     text-decoration: none;
//   }
// }

#header-navigation {
	ul {
		list-style-type: none;
	}

  a:hover, a:visited, a:link, a:active {
  text-decoration: none;
  font-weight: bold;
  color: salmon;
  }



}

#header-navigation-list {
//   float: right;
  // right: 0;
  text-align: right;
//   height: 100%;
}
