$initialHeader-height: 60px;
$headerLogo-width: 200px;
$headerCategoryIcon-width: 50px;
$headerSearchIcon-width: 50px;

%header-option {
  // position: absolute;
  width: 100%;
  // background-color: darken(#555555, 10%);
  // background-color: #e9e9e9;
  background-color: #e9e9e9;
  // transform: translateY(-100%);
}

%header-icon {
  position: relative;
  z-index: 1;
}




#header {
  width: 100%;
  min-height: $initialHeader-height;
  // position: fixed;
  // display: inline-block;
  // display: table;
}

.search {
  height: 100vh;
  position: fixed;
  width: 100%;
  opacity: 0;
  transform: translate3d(0, -100%, 0);
  transition: transform 0.4s cubic-bezier(0,.65,.5,1), opacity 0.4s linear;

  @extend %header-option;

  &-wrapper {
    height: 100%;
    width: 100%;
    padding: $initialHeader-height 0;
  }

  &-show {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    transition: transform 0.2s cubic-bezier(0,.65,.5,1) 0.1s, opacity 0.5s linear;
  }
}

.menu {
  position: absolute;
  width: 100%;
  height: $initialHeader-height;
  padding: 0 25px;
  transform: translateY(-100%);
  @extend %header-option;

  &-wrapper {
    width: 100%;
    height: 100%;
    float: right;
    padding-left: $headerLogo-width;
    padding-right: calc(#{$headerCategoryIcon-width} + #{$headerSearchIcon-width} + 10px);
  }

  &-show {
    transform: translateY(0%);
    transition: transform 1s;
  }
}



#primary-header {
  padding: 0 25px;
}

#header-logo {
  position: relative;
  float: left;
  width: $headerLogo-width;
  z-index: 1;
}

#header-menu {
  float: right;
  width: calc(100% - #{$headerLogo-width});
}

#header-navigation {
  float: right;
}

#search, #menu, #profile {
  &-icon {
    display: inline-block;
    // width: $headerSearchIcon-width;
  }

  &-icon-wrapper {
    @extend %header-icon;
  }
}

.Layer_1 {
  // fill: red;
  width: 20px;
  height: 20px;
}

// #menu {
//   &-icon {
//     width: $headerCategoryIcon-width;
//     display: inline-block;
//   }

//   &-icon-wrapper {
//     @extend %header-icon;
//   }
// }

// #profile {
//   &-icon {
//     width: $headerCategoryIcon-width;
//     display: inline-block;
//   }

//   &-icon-wrapper {
//     @extend %header-icon;
//   }
// }

// .header {
//   height: 100px;
//   width: 100%;
//   z-index: 10;
//   position: relative;
//   // background-color: deepskyblue;
// }

// .header-fixed {
//   // &::after {
//   //   content: "";
//   //   position: absolute;
//   //   z-index: 1000;
//   //   top: 0;
//   //   bottom: 0;
//   //   left: 50%;
//   //   border-left: 1px solid rgba(32, 35, 39, 0.2);
//   //   transform: translate(-50%);
//   //   margin-top: 200px;
//   // }

//   // text-orientation: upright;
//   // writing-mode: vertical-rl;
//   position: fixed;
//   width: calc(100% - 60px);
//   // top: 0;
//   // border-bottom: 1px solid rgba(32, 35, 39, 0.2);
//   // z-index: 10000;

//   // position: absolute;
//   // right: 0;
//   // top: 0;
//   // height: 100%;
//   // overflow: hidden;
//   // // background-color: salmon;
//   // // z-index: 100000;
//   // // margin-right: 0;
//   // width: 2em;


// #header-site-logo {
//   position: fixed;
//   transform: translateX(-280px);
// }

//   // #header-navigation {
//   //   position: fixed;
//   // }
// }

// #header-left {
//   float: left;
//   width: 25%;
// }

// #header-right {
//   float: right;
//   right: 0;
//   width: 75%;
// }

// #header-search {
//   float: right;
// }