<div id="header">
    <div class="search" [class.search-show]="appSearchState">
        <div class="search-wrapper">
            <app-search></app-search>
        </div>
    </div>

    <div class="menu" [class.menu-show]="appMenuState">
        <div class="menu-wrapper">
            <app-menu></app-menu>
        </div>
    </div>

    <div id="primary-header">
        <div id="header-logo">
            <!-- l-Icon -->
            <p routerLink="/" style="color: blue; cursor: pointer;">Violet</p>
        </div>
        <div id="header-menu">
            <div id="header-navigation">
                <div id="search-icon">
                    <div id="search-icon-wrapper" *ngIf="!appMenuState" (click)="toggleTarget('search')">
                        <fa-icon [icon]="faSearch" size="lg"></fa-icon>
                        <!-- search -->
                    </div>
                </div>
                <div id="menu-icon" (click)="toggleTarget('menu')">
                    <!-- [class.header-category-icon-open]="!headerCategoryState" [class.header-category-icon-close]="headerCategoryState" -->
                    <div id="menu-icon-wrapper">
                        <!-- c-Icon -->
                        <span [hidden]="collapse=='open'"><fa-icon [icon]="faBars" size="lg" ></fa-icon></span>
                        <span [hidden]="collapse=='closed'"><fa-icon [icon]="faTimes" size="lg" ></fa-icon></span>
                    </div>
                </div>

                <div id="profile-icon">
                    <div id="profile-icon-wrapper">
                        <!-- profile -->
                        <span *ngIf="!isUser" routerLink="/login/" style="cursor: pointer;">
                            <fa-icon [icon]="faUserCircle" size="lg"></fa-icon>
                        </span>

                        <span *ngIf="isUser" routerLink="/profile/" style="color: blue; cursor: pointer;">
                            <fa-icon [icon]="faUserCircle" size="lg">{{ user.username }}</fa-icon>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
