<div class="centered">
    <h1>Welcome to Violet. Use the button below to find your anime!</h1>
    <button class="bubbly-button">Search for anime!</button>
    <button class="bubbly-button" routerLink="/anime/">Go to Home!</button>
</div>
