// @import "compass/css3";
/* Variables */

$color-1: black;
$color-2: white;
$color-3: rgb(168, 50, 121);

// @import url(https://fonts.googleapis.com/css?family=Open+Sans:300, 700);
body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 0.05em;
    position: relative; /* usually the parent, in this case the body element, has position relative so that the absolute positioned child is positioned relative to it */
    height: 100vh; /* 100% of the viewport height */
    margin: 0; /* recommended */
}

.centered{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    margin: 0;    
}

h1 {
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    margin: 0;
}

.bubbly-button{
    display: inline-block;
    font-size: 1em;
    padding: 1em 2em;
    background-color: #ff0081;
    color: #fff;
    border-radius: 4px;
    border: none;
    cursor: pointer;
};