#contentBackground {
  position: absolute;
  width: 100%;
  overflow: hidden;
  z-index: -1;
}

#contentSpacer {
  overflow: hidden;
}

svg {
    width: 100%;

    #img-backgroundFade-start, #upperLineUpFade-start, #upperLineDownFade-start {
        stop-opacity: 1;
    }

    #img-backgroundFade-end, #upperLineUpFade-end, #upperLineDownFade-end {
        stop-opacity: 0;
    }

    #img-backgroundFade-start, #img-backgroundFade-end {
        stop-color: $themeLight;
    }

    #backgroundWallpaperFinish {
        fill-opacity: 0.25;
    }

    #holder-upper {
        fill-opacity: 0.2;
    }

    .line-upper {
        stroke-width: 0.2;
        stroke-linecap: butt;
    }

    #line-upper-up, #line-upper-down {
        @extend .line-upper;
    }

    .line-lowers {
        stroke-width: 0.3;
        stroke-dasharray: 0.2;
    }

    #line-lower-up {
        @extend .line-lowers;
    }

    #line-lower-down {
        @extend .line-lowers;
    }

    #holder-lower {
        fill-opacity: 0.3;
    }

    #holder-cover {
        fill-opacity: 0.6;
        stroke: $themeLight;
        stroke-width: 0.8;
    }

    #coverFrame {
        fill: none;
        stroke-width: 0.8;
        stroke-opacity: 0.55;
        stroke-linejoin: miter;
    }

    #coverAccent {
        fill: none;
        stroke-width: 0.75;
        stroke-opacity: 0.4;
        stroke-linejoin: bevel;
     }
}
