/*
ANIME HEADER STYLESHEET DOCUMENT
--------------------------------
    File Name: header
    URL Section: ...
    Extra Information: Site header
--------------------------------
*/

%headerDefaults {
	top: 0%;
    width: 100%;
	height: $headerHeight;
}

%navigationUnderline {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    height: 2px;
    background-color: #ffffff;
}

#header {
    z-index: 1;
	position: fixed;
    @extend %headerDefaults;
}

.headerBackground {
    position: absolute;
    @extend %headerDefaults;
    background-color: #7B7B7B;
    opacity: 0;
    transition: all 1s ease-in-out;
}

.headerBackgroundShow {
    opacity: 0.97;
}

#navigation {
    position: absolute;
    padding: 0;
    list-style-type: none;
    li {
        position: relative;
        float: left;
        margin: 0 0.5em;
        padding: 15px 0;
        font-family: sans-serif;
        font-weight: 700;
        font-size: 13px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        opacity: 0.3;
        transition: all ease 0.2s;
        a:after {
            @extend %navigationUnderline;
            width: 0%;
            transition: all 0.4s ease;
        }
    }

    li:hover {
        opacity: 0.6;
        a:after {
            width: 40%;
        }
    }

    li.active {
        opacity: 1;
        a:after {
            @extend %navigationUnderline;
            width: 100%;
        }
    }

    a {
        text-decoration: none;
        color: salmon;
    }
}
