<app-header-menu>
  <li
    *ngFor="let tab of tabList let i = index"
    id="{{ tab.selector }}"
    [class.list-selection]="tabSelected == tab.name"
    (click)="tabSelector(tab.name)"
    (click)="setIndex(i)"
  >
    <a>{{ tab.name }}</a>
  </li>
</app-header-menu>
<div id="app-anime-wrapper">
  <div id="anime-content-wrapper">
    <div id="contentContainer">
      <div class="container">
        <h1>Anime List</h1>
      </div>

      <div class="flexbox">
        <div *ngIf="sIndex < 5; else elseBlock">
          <div *ngFor="let key of menuNames; let k = index">
            <ng-template [ngIf]="k == sIndex">
              <div class="flex-container">
                <div
                  *ngFor="
                    let current of (currentName
                      | orderBy: 'title'
                      | paginate: { itemsPerPage: 16, currentPage: page })
                  "
                  style="margin: 0 10px;"
                >
                  <div class="blog-card">
                    <div class="meta" style="height: 280px; margin: 10px auto;">
                      <div class="photo">
                        <img
                          class="imageHeight"
                          [errorImage]="errorImage"
                          [lazyLoad]="current.image_url"
                          [scrollObservable]="scrollEvent"
                        />
                      </div>
                      <ul class="details">
                        <li class="tags">
                          <ul>
                            <li>
                              <a routerLink="/anime/{{ current._id }}">
                                <i>{{ current.title }}</i>
                              </a>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                    <div class="description">
                      <h1>
                        <a routerLink="/anime/{{ current._id }}">
                          <i style="font-weight: 270;">{{ current.title }}</i>
                        </a>
                      </h1>
                      <h2>{{ current.type }}</h2>

                      <p *ngIf="current.synopsis">
                        <!-- {{ (current.synopsis.length>200)? (current.synopsis | slice:0:200)+'..': (current.synopsis) }} -->
                        {{ (current.synopsis) }}
                      </p>
                      <p *ngIf="!current.synopsis">No Synopsis yet written!</p>
                      <!-- <p class="read-more">
                        <a href="#">Read More</a>
                      </p> -->
                    </div>
                  </div>
                </div>
              </div>

              <div *ngIf="!issValid" class="skeleton">
                <div *ngIf="!dogs">
                  <div class="flex-container">
                    <div
                      *ngFor="let content of generateContent(8)"
                      style="margin: 0 10px;"
                    >
                      <div class="blog-card">
                        <div class="meta">
                          <div class="photo"></div>
                        </div>
                        <div class="description">
                          <h1></h1>
                          <h2></h2>
                          <p></p>
                          <p></p>
                          <p></p>
                          <p></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                There's nothing here! Possibly no results found in Database.
              </div>

              <pagination-controls
                (pageChange)="pageChanged($event)"
                *ngIf="issValid"
              ></pagination-controls>
            </ng-template>
          </div>
        </div>

        <ng-template #elseBlock>
          <ng-template [ngIf]="sIndex == 5">
            <app-create-page></app-create-page>
          </ng-template>
        </ng-template>
      </div>
    </div>
  </div>
</div>
