// @import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

$color_white: #fff;
$color_prime: #5ad67d;
$color_grey: #e2e2e2;
$color_grey_dark: #a2a2a2;

#anime-all,
#anime-series,
#anime-ova,
#anime-movie,
#anime-ona,
#anime-add,
#anime-database {
    display: inline-block;

    a {
        padding: 0 10px;
    }

    a:hover,
    a:visited,
    a:link,
    a:active {
        text-decoration: none;
    }

    // &::after {
    // 	content: '|';
    // }

    // &:last-child::after {
    // 	content: '';
    // }
}

.list-selection a {
    color: #fff;
}

.test {
    display: none;
}

.selected {
    display: block;
}

#app-anime-wrapper {
    position: relative;
    z-index: 10000;
}

#anime-content-wrapper {
    // margin: 100px 0;
    background: whitesmoke;
}

#contentContainer {
    position: relative;
}

#all-content,
#series-content {
    height: 2000px;
}

.wrapper {
    // border-bottom: 1px solid grey;
    width: 100%;
    display: block; // overflow: hidden;
}

.tab {
    box-sizing: border-box;
    position: relative;
    margin-bottom: 3px;
    padding: 0 10px;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    width: 200px;
    margin-left: -30px;
    overflow: hidden;
    .text {
        // width: 50px;
        white-space: nowrap;
        overflow: hidden; // padding: 0 20px;
    }
    &.active {
        border-left: 3px solid #3dbd99; // border-bottom-color: #ee7175;
        padding-left: 7px;
    }
    &:not(.active):hover {
        cursor: pointer;
        border-left: 3px solid grey; // border-bottom-color: #ee7175;
        padding-left: 7px; // background: #f6f6f6; // border-bottom-color: #d2d7d3;
    }
}

#contentContainer {
    // width: 1600px;
    // width: 95%;
    position: relative;
}

.flexbox {
    display: flex;
}

.imageHeight {
    // height: 280px;
    // width: 200px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap; // background-color: DodgerBlue;
    // justify-content: space-around; // width: 500px;
    justify-content: center;
    // display: flex;
    // justify-content: center;
}

.flex-container:before > div {
    // background-color: #f1f1f1; // width: 230px;
    background-color: #2ac8b7;
    margin: 10px; // text-align: center;
    // line-height: 5px;
    // font-size: 12px;
}

// Card Styles

.blog-card {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    box-shadow: 0 3px 7px -1px rgba(#000, 0.1);
    border: 1px solid transparent;
    margin-bottom: 1.6%;
    background: $color_white;
    line-height: 1.4;
    font-family: sans-serif;
    border-radius: 5px;
    overflow: hidden;
    z-index: 0;
    a {
        color: inherit;
        &:hover {
            color: $color_prime;
        }
    }
    &:hover {
        .photo {
            // transform: scale(1.3) rotate(3deg);
        }
    }
    .meta {
        position: relative;
        z-index: 0;
        height: 280px;
        width: 100px;
    }
    .photo {
        position: absolute;
        // top: 0;
        // right: 0;
        bottom: 0;
        left: 0;
        background-size: cover;
        background-position: center;
        // transition: transform .2s;
        display: flex;
        justify-content: center;
        align-content: center;
        margin: auto;
    }

    .details,
    .details ul {
        margin: auto;
        padding: 0;
        list-style: none;
    }

    .details {
        position: absolute;
        // top: 0;
        bottom: 0;
        // right: 0;
        margin: -10px auto;
        transition: left 0.2s;
        background: rgba(#000, 0.6);
        color: $color_white;
        padding: 10px;
        width: 225px;
        font-size: 0.9rem;
        // a {
        //   text-decoration: dotted underline
        // }
        ul li {
            display: inline-block;
        }
        .tags {
            ul:before {
                // font-family: FontAwesome;
                // content: "\f02b";
                margin-right: 10px;
            }
            li {
                margin-right: 2px;
                &:first-child {
                    margin-left: -4px;
                }
            }
        }
    }

    .description {
        padding: 1rem;
        background: $color_white;
        position: relative;
        z-index: 1;
        max-width: 710px;
        min-width: 300px;
        width: 500px;
        overflow-y: auto;
        h1,
        h2 {
            font-family: Poppins, sans-serif;
        }
        h1 {
            line-height: 1.4;
            margin: 0;
            font-size: 1.7rem;

            &:hover {
                color: $color_prime;
                text-decoration: solid underline;
                cursor: pointer;
            }
        }
        h2 {
            font-size: 1rem;
            font-weight: 300;
            text-transform: uppercase;
            color: $color_grey_dark;
            margin-top: 5px;
        }
    }
    p {
        position: relative;
        margin: 1rem 0 0;
        &:first-of-type {
            margin-top: 1.25rem;
            &:before {
                content: "";
                position: absolute;
                height: 5px;
                background: $color_prime;
                width: 35px;
                top: -0.75rem;
                border-radius: 3px;
            }
        }
    }
    &:hover {
        border: 1px solid deepskyblue;
        .photo {
            opacity: 0.45;
        }
        // .details {
        //   left: 0%;
        // }
    }

    @media (min-width: 640px) {
        flex-direction: row;
        max-width: 700px;
        min-width: 300px;
        max-height: 301px;
        .meta {
            flex-basis: 40%;
            height: auto;
        }
        .description {
            flex-basis: 60%;
            &:before {
                // transform: skewX(-3deg);
                // content: "";
                background: #fff;
                width: 30px;
                position: absolute;
                left: -10px;
                top: 0;
                bottom: 0;
                z-index: -1;
            }
        }
    }
}

.skeleton {
    .blog-card {
        .photo,
        meta,
        h1,
        h2,
        p {
            animation: loading 1.7s infinite linear;
            background: #f6f7f8;
            background-image: -webkit-linear-gradient(to left, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
            background-image: linear-gradient(to left, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
            background-repeat: no-repeat;
        }

        height: 280px;
        width: 600px;
        display: flex;
        flex-direction: column;
        margin: 1rem auto;
        box-shadow: 0 3px 7px -1px rgba(#000, 0.1);
        border: 1px solid transparent;
        margin-bottom: 1.6%;
        overflow: hidden;
        z-index: 0;

        .meta {
            position: relative;
            z-index: 0;
            height: 280px;
            width: 100px;
        }

        .photo {
            position: relative;
            height: 280px;
            width: 200px;
            margin: auto;
        }

        .details {
            position: absolute;
            margin: -10px auto;
            padding: 10px;
            width: 225px;
        }

        .description {
            padding: 1rem;
            position: absolute;
            z-index: 1;
            margin-left: 200px;
            max-width: 400px;
            min-width: 300px;
            // width: 500px;

            h1 {
                height: 20px;
                width: 300px;
            }
            h2 {
                height: 20px;
                width: 300px;
            }
        }
        p {
            height: 20px;
            width: 100%;
        }
    }
}

@keyframes loading {
    0% {
        background-position: -100px;
    }

    100% {
        background-position: 200px;
    }
}
