// APPLICATION STYLING
// -------------------
//     File Name: app.component
//     URL Section: N/A
//     Extra Information: Application component styling stylesheet
// -------------------

@import '../assets/stylesheets/globalVariables';
@import '../assets/stylesheets/stackOrder';

.app-wrapper {
	// margin-left: $header-width;
	// padding: 0 20px 0 $header-width;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	z-index: $app-appWrapper-stack;
	position: fixed;
	overflow-y: auto;
	// overflow-y: auto;
	// position: relative;
	// transform: translate3d(0, 0, 0);
	transition: all 0.3s cubic-bezier(0,.5,.9,1);
	// background-color: #e9e9e9;
	background-color: #FFFFFF;
}

.app-wrapper::-webkit-scrollbar { /* WebKit */
	width: 0;
	height: 0;
}

.disable-scroll {
	overflow-y: hidden;
}

#app-content {
	flex: 1 0 auto;
	// position: relative;
	// z-index: 1000;
}


.app-wrapper-offset {
	// margin-left: 3px;
	// transform: translateX(280px);
	transform: translate3d(283px, 0, 0);
	transition: all 0.3s cubic-bezier(0,.5,.9,1) 0.2s;
}
