<ng-progress></ng-progress>

<!-- <app-menu></app-menu> -->
<!-- <app-search *ngIf="appSearchState"></app-search> -->
<div class="app-wrapper" [class.disable-scroll]="!appScrollState">
	<app-header></app-header>
	<div id="app-content">
		<router-outlet></router-outlet>
	</div>
	<app-footer *ngIf="footerState"></app-footer>
</div>
