<!-- <div id="test">  -->
<!-- <header class="chat-header">
        <h1>Chat</h1>
        <span class="participants"></span>
    </header> -->


<!-- </div> -->

<div class="row">
    <div class="chat-window">
        <section class="chat-session">
            <ul class="nav">
                <div *ngFor="let message of messages">
                    <li [ngClass]="message.isNewUser == 'user' ? 'user2-message' : (message.isUser ? 'user-message' : 'user1-message')">
                        <time>{{ message.time }}</time>
                        <span class="user-id">{{ message.name }}</span>
                        <span>{{ message.message.text }}</span>
                    </li>
                </div>
            </ul>
        </section>
        <div class="chat-footer">
            <form [formGroup]="rForm" (ngSubmit)="sendMessage()" class="chat-footer">
                <div class="form-group" style="width: 100.1%;">
                    <div *ngIf="!auth.loggedIn()">
                        <input type="message" class="form-control" placeholder="Log in / Register to start chatting"
                            [(ngModel)]="message" formControlName="message" [readonly]="true"
                            style="position:relative;">
                    </div>
                    <div *ngIf="auth.loggedIn()">
                        <input type="message" class="form-control" placeholder="Enter your message"
                            [(ngModel)]="message" formControlName="message" [readonly]="false"
                            style="position:relative;">
                    </div>
                </div>
                <input type="submit" type="submit" value="Send!" [disabled]="!rForm.valid" style="display: none;">
            </form>
        </div>
    </div>

</div>