.App {
  width: 100%;
  max-width: 960px;
  height: 500px;
  margin: 0 auto;
  display: flex;
  border: 1px solid #ccc;
  margin-top: 30px;
}
.row {
  height: 100%;
  overflow: hidden;
}
.chat-window {
  flex-grow: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

#test {
  height:100%;
}

.chat-window > * {
  padding: 10px 20px;
}

.chat-header,
.chat-footer {
  display: flex;
  align-items: center;
}

.chat-header {
  border-bottom: 1px solid #ccc;
}

.chat-session {
  flex-grow: 1;
  display: flex;
  // height: 100%;
  // overflow-y:hidden;
  
    overflow: hidden;
}

.user-message {
  margin-top: 10px;

  background: #407fff;
  color: white;
  margin-right: 50%;
  border-radius: 10px;
}

.user1-message {
  margin-top: 10px;

  background: rgb(92, 194, 44);
  color: white;
  margin-left: 50%;
  border-radius: 10px;
}

.user2-message {
  margin-top: 10px;

  background: rgb(146, 29, 201);
  color: white;
  margin-left: 25%;
  margin-right: 25%;
  border-radius: 10px;
}

.user-message span {
  display: block;
}

.user-id {
  font-weight: bold;
  margin-bottom: 3px;
}

.chat-footer {
  border-top: 1px solid #ccc;
}

.chat-footer form,
.chat-footer input {
  width: 100%;
}

.nav {
  width: 100%;
  // height: 100%;
  line-height: 2em;
  // border: 1px solid #ccc;
  padding: 0;
  margin: 0;
  // height: 90%;
  overflow: hidden;
  // overflow-y: scroll;
  // overflow-x: hidden;
}

ul {
    list-style: none;
  }

li {
  border-top: 1px solid #ccc;
}

/* Clear floats after the columns */
.row {
  display: flex;
}
