<ng-progress #progressBar></ng-progress>

<div class="form">
    <form *ngIf="newUser" class="form-control" [formGroup]="registerForm" (ngSubmit)="onRegister()">
        <h3>New User Signup</h3>
        <!-- <span class="required_notification">* Denotes Required Field</span> -->
        <br>
        <br>
                
        <div class="alert alert-success" *ngIf="succSwitch" role="alert">{{ succMsg }}</div>
        <div class="alert alert-success" role="alert">{{ errMsg }}</div>

        <!-- <div class="form-group">
            <input required name="name" id="name" #name="ngModel" ngModel type="text" class="form-control" placeholder="Enter your name">
            <span class="form_hint">Enter your Name</span>
        </div> -->

        <div class="form-group">
            <!-- <label>Name</label> -->
            <input required type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" placeholder="Enter your full name"/>
            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                <div *ngIf="f.name.errors.required">Name is required</div>
                <div *ngIf="f.name.errors.email">Name must be at least 4 characters</div>
            </div>
        </div>

        <div class="form-group">
            <!-- <label>Username</label> -->
            <input required type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" placeholder="Enter your username"/>
            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                <div *ngIf="f.username.errors.required">Username is required</div>
                <div *ngIf="f.username.errors.minlength">Username need to be at least 6 characters</div>
            </div>
        </div>

        <!-- <div class="form-group">
            <input required name="username" id="username" #username="ngModel" ngModel type="text" class="form-control" placeholder="Enter your username">
            <span class="form_hint">Enter your username</span>
        </div> -->

        <div class="form-group">
            <!-- <label>Email</label> -->
            <input required type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" placeholder="Enter your E-mail address"/>
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required</div>
                <div *ngIf="f.email.errors.minlength">Email must be a valid email address</div>
            </div>
        </div>

        <div class="form-group">
            <!-- <label>Password</label> -->
            <input required type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" placeholder="Enter your password" />
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Password is required</div>
                <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
            </div>
        </div>

        <div [hidden]="true">
            <input type="submit" value="Submit" #buttonInput>
        </div>

        <br>

        <button class="onClick" (click)="buttonInput.click()">SUBMIT</button>

        <p class="message">Already registered?
            <a class="messageClick" (click)="toggleSwitch()">Sign in</a>
        </p>
    </form>

    <form *ngIf="!newUser" #loginForm="ngForm" class="form-control" (ngSubmit)="onLoginSubmit(loginForm)" name="contact_form">

        <h3>Existing User Login</h3>
        <!-- <span class="required_notification">* Denotes Required Field</span> -->
        <br>
        <br>

        <div class="alert alert-danger" *ngIf="errSwitch" role="alert">{{ errMsg }}</div>

        <div class="form-group">
            <input required name="username" id="username" #username="ngModel" ngModel type="name" class="form-control" placeholder="Enter your username">
        </div>

        <!-- <label for="password">Password</label> -->
        <div class="form-group">
            <input required name="password" id="password" #password="ngModel" ngModel type="password" class="form-control" placeholder="Enter your password">
        </div>

        <div [hidden]="true">
            <input type="submit" value="Login" [disabled]="!loginForm.valid" #buttonInput>
        </div>
        
        <br>

        <button *ngIf="loginForm.valid" class="onClick" (click)="buttonInput.click()">SUBMIT</button>
        <button *ngIf="!loginForm.valid" class="onClickInvalid">SUBMIT</button>

        <p class="message">Not registered?
            <a class="messageClick" (click)="toggleSwitch()">Create an account</a>
        </p>

    </form>
</div>