/* Form */

.form-control {
  // position: relative;
  // // z-index: 1;
  // background: #FFFFFF;
  // max-width: 300px;
  // margin: 0 auto 100px;
  // padding: 30px;
  // border-top-left-radius: 3px;
  // border-top-right-radius: 3px;
  // border-bottom-left-radius: 3px;
  // border-bottom-right-radius: 3px;
  // text-align: center;
  // display: flex;
  // flex-direction: column;
  // padding: 15px;
  margin: 0 auto;
  text-align: center;

  // .thumbnail {
  // background: #EF3B3A;
  // width: 150px;
  // height: 150px;
  // margin: 0 auto 30px;
  // padding: 50px 30px;
  // border-top-left-radius: 100%;
  // border-top-right-radius: 100%;
  // border-bottom-left-radius: 100%;
  // border-bottom-right-radius: 100%;
  // box-sizing: border-box;
  // img {
  //   display: block;
  //   width: 100%;
  // }
  input {
    height: 35px;
    padding: 5px 5px;
    margin: 10px 0px;
    background-color: #e0dada;
    border: none;
    width: 20%;
  }

  .onClick {
    height: 40px;
    width: 20%;
    padding: 5px 5px;
    margin: 10px 0px;
    font-weight: bold;
    background-color: #ef3b3a;
    border: none;
    color: #e0dada;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
  }

  .onClick:hover {
    background-color: #ff7700;
    margin-right: 10px;
  }

  .onClickInvalid {
    height: 40px;
    width: 20%;
    padding: 5px 5px;
    margin: 10px 0px;
    font-weight: bold;
    background-color: grey;
    border: none;
    color: #e0dada;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
  }

  .onClickInvalid:hover {
    background-color: grey;
    margin-right: 10px;
  }

  .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
    a {
      color: #ef3b3a;
      text-decoration: none;
    }
  }

  .messageClick {
    margin: 15px 0 0;
    color: #b3b3b3;
    cursor: pointer;
    font-size: 12px;
    a {
      color: #ef3b3a;
      text-decoration: none;
    }
  }

  .form-group:after { 
    content: " *";
    color: red;
  }
}

// .required_notification {
// 	color:#d45252;
// 	margin:5px 0 0 0;
// 	display:inline;
// 	float:right;
// }
//   .register-form {
//     display: none;

//   }

//   /* === Remove input autofocus webkit === */
// *:focus {outline: none;}

// /* === Form Header === */


// /* === Form hints === */
// .form_hint {
// 	background: #d45252;
// 	border-radius: 3px 3px 3px 3px;
// 	color: white;
// 	margin-left:8px;
// 	padding: 1px 6px;
// 	z-index: 999; /* hints stay above all other elements */
// 	position: absolute; /* allows proper formatting if hint is two lines */
//   display: none;

//   ::before {
//     content: "\25C0";
//     color:#d45252;
//     position: absolute;
//     top:1px;
//     left:-6px;
//   }
// }
