@import '../../../assets/stylesheets/globalVariables';

$cover-image-height: 200px;

$search-close-icon-width: 50px;

%center-align {
  margin: 0 auto;
  // padding: 0 30px;
  width: 100%;
  max-width: 1080px;
}

.search-detail {
  padding-bottom: 10px;
  opacity: 0;
  transform: translateY(0px);

  @extend %center-align;
}

.search-detail-overflow {
  box-shadow: 0px 5px 10px 1px #dfdfdf;
}

.search-detail-wrapper {
  padding: 10px;
  width: 100%;
  display: inline-block;
}

.search-detail-show {
  opacity: 1;
  transition: transform 0.1s linear, opacity 0.5s linear 0.4s;
}

.focus-search-detail {
  transform: translateY(100px);
}

#search-content {
  display: inline-block;
  width: 100%;
}

#search-text {
  float: left;
  width: calc(100% - #{$search-close-icon-width});
}

#search-input {
  width: 100%;
  border: 2px solid #dfdfdf;
  border-radius: 40px;
  height: 40px;
  padding: 0 11px;
  background: transparent;
}

#search-input:focus {
  border-color: #71ccd5;
  outline: none;
}

#search-cancel {
  float: right;
  width: $search-close-icon-width;
}

#search-status {
  width: 100%;
  word-wrap: break-word;
  padding: 0px 10px;
}

.search-result-wrapper {
  height: 100%;
  margin-top: 15px;
  // margin-bottom: 20px;
  padding-bottom: 50px;
  overflow-y: scroll;
  @extend %center-align;
}

.search-result {
  width: 100%;
  display: inline-block;
  opacity: 0;
  transform: translateY(0px);
}

.search-result-show {
  opacity: 1;
  transition: opacity 0.5s linear 0.4s;
}

.focus-search-results {
  opacity: 0;
  transform: translateY(100px);
  transition: transform 0.1s linear, opacity 0.3s linear;
}

.result-group-details {
  @extend %center-align;
}
.result-group-details-wrapper {
  display: inline-block;
  width: 100%;
}

.result-group-name {
  float: left;
  width: 50%;
}

.result-group-summation {
  float: right;
  width: 50%;
}

.result-group-summation-wrapping {
  float: right;
}

.result-details {
  width: 100%;
  padding: 10px 50px;
}

.result-details-select {
  width: 100%;
  display: inline-block;
  padding: 15px;
  -webkit-box-shadow: 2px 4px 8px 0px #dfdfdf;
  -moz-box-shadow: 2px 4px 8px 0px #dfdfdf;
  box-shadow: 2px 4px 8px 0px #dfdfdf;
}

.result-selection {
  background: #dfdfdf;
  transform: scale(1.05);
  // transition: transform 0.s linear,
}

.result-details-wrapping {
  overflow: hidden;
  min-height: $cover-image-height;
}

.result-image {
  float: left;
  width: 140px;
  // height: $cover-image-height;
  padding: 0px 10px;
}

.cover-image {
  width: 100%;
  height: $cover-image-height;
  object-fit: fill;
}

.result-information {
  overflow: hidden;
  padding: 0px 10px;
}

.result-snyopsis {
  padding-top: 10px;
}

@media screen and (max-width: 500px) {
   .result-image {
    float: none;
    margin-right:0;
    width:auto;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fffefe;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #e9e9e9;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #dad5d5;
}
