<div class="search-detail" [class.focus-search-detail]="focusSearch" [class.search-detail-show]="appSearchState"  [class.search-detail-overflow]="appSearchOverflowState">
  <div class="search-detail-wrapper">
    <div id="search-content">
        <div id="search-text">
          <input #UserSearchInput id="search-input"
          [value]="searchInput" (input)="updateSearchInput($event.target.value)"
          (focus)="toggleSearchInputFocus()" (blur)="toggleSearchInputBlur()"
          type="text" placeholder="Enter keywords, or search a title...">
        </div>
        <div id="search-cancel">
          <div id="search-cancel-icon" (click)="searchClear('check')">
            x
          </div>
        </div>
    </div>

    <div id="search-status">
      <div> {{ searchStatus }} </div>
    </div>
  </div>
</div>

<div class="search-result-wrapper">
  <div class="search-result" [class.focus-search-results]="focusSearch" [class.search-result-show]="appSearchState">
    <!-- <div class="result-group-details">
      <div class="result-group-details-wrapper" *ngIf="(DB.getD() | filterBy: userFilter) as result">
        <div class="result-group-name">
          Anime
        </div>
        <div class="result-group-summation">
          <div class="result-group-summation-wrapping">
            {{ result.length }} Matches
          </div>
        </div>
      </div>
    </div> -->

    <div *ngFor="let search of searchTerm">
      <div class="result-details">
        <div class="result-details-select" (mouseenter)="resultSelection($event)" (mouseleave)="resultUnSelection($event)">
          <div class="result-details-wrapping">
            <div class="result-image">
              <a routerLink="/anime/{{ search.mal_id }}"><img class="cover-image" src="{{ search.image_url }}" alt="{{ search.title }}" /></a>
            </div>
            <div class="result-information">
              <div class="result-type">
                <h3>{{ search.type }} / {{ search.premiered }}</h3>
              </div>
              <div class="result-title">
                <h1>{{ search.title }}</h1>
              </div>
              <div class="result-snyopsis">
                <p>{{ search.synopsis}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>