<div class="content">
    <div>
        <p style="text-align: center">
            Know you MyAnimeList ID? Add it in by simplying adding to the MyAnimeList ID input box!
        </p>
    </div>

    <form [formGroup]="statForm" (ngSubmit)="submit()">
        <div class="flexbox">
            <div class="wrapper column-left thumbnail">
                <img class="thumbnail" [defaultImage]="defaultImage" [errorImage]="errorImage" [lazyLoad]="image_url" class="imageHeight"
                    alt="{{ title }}" />
                <!-- <img class="imageHeight" src="https://myanimelist.cdn-dena.com/images/anime/1057/93850.jpg" /> -->
            </div>

            <div class="column-right">
                <!-- <p> Here is the text of something </p>
                    <p> Here is the text of something </p>
                    <p> Here is the text of something </p>
                    <p> Here is the text of something </p>     -->

                <div class="group">
                    <input name="mal_id" type="text" formControlName="mal_id" [(ngModel)]="mal_id" placeholder="i.e. 25157" style="padding-left: 120px;"
                        required />
                    <label id="name-label9">MyAnimeList ID: </label>
                    <div style="padding-top: 18px;">
                        <p>Title: {{ title }}</p>
                        <p>English Title: {{ title_english }}</p>
                        <p>Japanese Title: {{ title_japanese }}</p>
                        <p>Status: {{ status }}</p>
                        <p>Type: {{ type }}</p>
                        <p>Premiered: {{ premiered }}</p>
                        <p>Score: {{ score }}</p>
                        <p>Episodes: {{ episodes }}</p>
                        <p>Duration: {{ duration }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div style="min-height: 150px;">
            <!-- <div class="flex"> -->
            <p>Synopsis:</p>
            <p>{{ synopsis }}</p>
        </div>

        <br />

        <div [hidden]="true">
            <button (click)="getStat()" [disabled]="preventAbuse | async" #getSt>
                {{ (preventAbuse | async) ? "... Please Wait ..." : "Get MAL stats" }}
            </button>
            <!-- <button (click)="saveDB()" [disabled]="(preventAbuse | async)" #saveDB>
                    {{ (preventAbuse | async) ? '... Please Wait ...' : 'Save to DB' }}
                </button> -->

            <input type="submit" [disabled]="preventAbuse | async" #saveDB />
        </div>

        <div class="flex-container">
            <a class="tcb-basic tcb-info" (click)="getSt.click()">Get Stat</a>
            <a class="tcb-basic tcb-info" (click)="saveDB.click()">Save to DB</a>
        </div>
    </form>
</div>