// Defines shared variables
$base: #4a89dc;
$font-size: 16px;
$text: #555;
$invalid: #E91E63;
$width: 100%;
$cubic: cubic-bezier(.64, .09, .08, 1);

* {
    box-sizing: border-box;
}

/* Create two equal columns that floats left / right */
// .column-left {
//   float: left;
//   width: 50%;
// }

// .column-right {
//   float: right;
//   width: 50%;
//   padding: 2px;
// }

.column-image-container {
  margin: 0 auto; 
  width: 77%;
}

// Creates how much space will be used to display the content
.content {
    width: 1000px;
    margin: 0 auto; 
    // height:100%;
    // box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.2);
}

// CSS stylings
.flex {
  display: flex;
  align-items: stretch;
  textarea {
    //   line-height: 110%;
      color: $text;
  }
}

.group {
  position: relative;
  margin-bottom: 25px;
}

.group_0 {
  position: relative;
}

.image_container {
  padding-top: 2%;
  height: 420px;
}

#Synopsis {
  max-height: 230px;
}

form {
    font-family: 'roboto', sans-serif;
    margin: 20px auto 0;
    padding: 0 0 20px;
    border-radius: 3px;
    color: $text;
    width: 700px;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    font: inherit; 
}

input,
textarea {
    font: inherit;
    // font-size: 0.8em; 
    // margin: 28px 25px 10px;
    width: $width;
    display: block;
    border: none;
    padding: 20px 0 10px;
    border-bottom: solid 1px $base;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, $base 4%);
    background-position: -$width 0;
    background-size: $width 100%;
    background-repeat: no-repeat;
    color: $base;
    resize: vertical; 
    overflow: visible;
    &:valid {
        box-shadow: none;
        outline: none;
        background-position: 0 0;
        &::-webkit-input-placeholder {
            font-size: 0.8em;
            transform: translateY(-20px);
            visibility: visible !important;
            opacity: 1;
        }
    }
    margin-bottom: -27px;
}

button {
    font-family: 'roboto', sans-serif;
    border: none;
    background: $base;
    cursor: pointer;
    border-radius: 3px;
    padding: 6px;
    width: $width/2;
    color: white;
    margin: 10px 0;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}

input {
    -webkit-appearance: none;
    display: block;
    color: #636363;
    // width: 80%;
    // border: none;
    // border-radius: 0;
    border-bottom: 0px solid #757575;
}

/* Label */

label {
    font-size: 14px;
    font-weight: normal;
    position: relative;
    pointer-events: none;
    color: $base;
}

#contentContainer {
    width: 1600px;
}

.flexbox {
    display: flex;
}

.column-left {
    // background: green;
    flex: 0 0 30px;
}

.column-right {
    // background: blue;
    flex: 1;
    margin-left: 20px;
}

.parent-wrapper {
    height: 100%;
    width: 100%;
    border: 1px solid black;
  }
  .parent {
    display: flex;
    flex-wrap: wrap;
  }
  
  .child {
    flex: 1 0 25%; /* explanation below */
    margin: 5px;
    height: 100px;
    background-color: blue;
  }

  
.imageHeight {
    height: 280px;
    width: 200px;
    
}

.pTags {
    /* white-space: nowrap; */
    width: 37ch;
    /* overflow: hidden; */
    text-overflow: ellipsis;
    height: 15ch;
}

.flex-container {
    display: flex;
    flex-wrap: wrap; // background-color: DodgerBlue;
    justify-content: space-around; // width: 500px;
    // display: flex;
    // justify-content: center;
    
}

.flex-container>div {
    // background-color: #f1f1f1; // width: 230px;

    background-color: #2ac8b7;
    margin: 10px; // text-align: center;
    // line-height: 5px;
    // font-size: 12px;
}