// ANIME SERIES DOCUMENT
// ---------------------
//     File Name: tv.component
//     URL Section: /anime/series
//     Extra Information: default anime series (TV | Movie | OVA) style
// ---------------------

@import '../../../assets/stylesheets/globalVariables';

@import '../../../assets/stylesheets/anime/series/background';
@import '../../../assets/stylesheets/anime/series/accordion';
@import '../../../assets/stylesheets/anime/series/episodes';

#content {
  margin: -$headerHeight auto 0;
}

#contentContainer {
  margin: inherit;
  padding-top: $headerHeight;
  max-width: 1200px;
  > div {
    padding: 0 0.5em;
  }
}
