<div id="content">
  <div id="contentBackground">
    <svg id="background" viewBox="0 0 225 80.5" visibility="hidden">
      <defs>
        <pattern
          id="img-background"
          patternContentUnits="objectBoundingBox"
          width="100%"
          height="100%"
        >
          <image id="img-background-link" preserveAspectRatio="none" />
        </pattern>
        <pattern
          id="img-cover"
          patternContentUnits="objectBoundingBox"
          preserveAspectRatio="xMidYMid slice"
          width="100%"
          height="100%"
        >
          <image id="img-cover-link" preserveAspectRatio="xMidYMid slice" />
        </pattern>
        <linearGradient
          id="img-backgroundFade"
          patternContentUnits="objectBoundingBox"
          y1="100%"
          x2="0%"
        >
          <stop id="img-backgroundFade-start" offset="0%" />
          <stop id="img-backgroundFade-end" offset="100%" />
        </linearGradient>
        <linearGradient
          id="upperLineUpFade"
          patternContentUnits="objectBoundingBox"
          y1="100%"
          x2="0%"
        >
          <stop id="upperLineUpFade-start" offset="0%" />
          <stop id="upperLineUpFade-end" offset="100%" />
        </linearGradient>
        <linearGradient
          id="upperLineDownFade"
          patternContentUnits="objectBoundingBox"
          x1="0%"
          y2="100%"
        >
          <stop id="upperLineDownFade-start" offset="0%" />
          <stop id="upperLineDownFade-end" offset="100%" />
        </linearGradient>
      </defs>
      <path id="backgroundWallpaper" d="M 0 0 v50.4h 225 v -50.4Z" />
      <path id="backgroundWallpaperPrime" d="M 0 0 v50.5h 225 v -50.5Z" />
      <path
        id="backgroundWallpaperFinish"
        d="M 0 39.9 v  10.54 h 225 v -10.54 Z"
      />
      <path id="holder-upper" d="M 12.5 37.1 l -15 -15 l 15 -15 l 15 15 Z" />
      <line id="line-upper-up" x1="12.75" y1="7.5" x2="0" y2="21.1" />
      <line id="line-upper-down" x1="12.75" y1="36.75" x2="0" y2="23" />
      <path id="holder-center" d="M 0 41 v 7 l 3.5 -3.5 Z" />
      <line id="line-lower-up" x1="0" y1="39" x2="23.1" y2="62.35" />
      <line id="line-lower-down" x1="24" y1="56.5" x2="0" y2="80.5" />
      <path
        id="holder-lower"
        d="M 10 45 l -15.25 15.25 l 15.25 15.25 l 15.25 -15.25 Z"
      />
      <path id="holder-cover" d="M 15.75 46.75 v 13 h 13 Z" />
      <path id="coverFrame" d="M 31.05 18 l -22 22 l 22 22 l 22 -22 Z" />
      <path id="coverAccent" d="M 31.05 21 l -19 19 l 19 19 l 19 -19 Z" />
      <path id="cover" d="M 31.05 21 l -19 19 l 19 19 l 19 -19 Z" />
    </svg>
  </div>
  <div id="contentSpacer">
    <svg id="spacer" viewBox="0 0 225 38"></svg>
  </div>
  <div id="contentContainer">
    <div id="animeTitle">
      <div id="animeTitleMn">Title: {{ message.title }}</div>
      <div id="animeTitleSecJap">
        Japanese Title: {{ message.title_japanese }}
      </div>
      <div id="animeTitleSecEng">
        English Title: {{ message.title_english }}
      </div>
      <!-- <div id="animeTitleSyn">Aokana</div> -->
    </div>
    <div id="animeAccordion">
      <div class="animeAccordionSection">
        <div class="accordionArrow"></div>
        <input
          type="checkbox"
          [(ngModel)]="extrasCheckbox"
          data-md-icheck
          (change)="toggleExtras($event)"
        />
        <h2>Extra Information</h2>
        <div class="accordionSectionWrapper" *ngIf="extra">
          <div class="animeSectionContent">
            <p>Type: {{ message.type }}</p>
            <p>Status: {{ message.status }}</p>
            <p>Season: {{ message.premiered }}</p>
            <!-- <p>Aired: Jan 12, 2016 to Mar 29, 2016</p>
                        <p>Age: PG-13 - TEENS 13 OR OLDER</p> -->
          </div>
        </div>
      </div>
      <div class="animeAccordionSection">
        <div class="accordionArrow"></div>
        <input
          type="checkbox"
          [(ngModel)]="synopsisCheckbox"
          data-md-icheck
          (change)="toggleSynopsis($event)"
        />
        <h2>Synopsis</h2>
        <div class="accordionSectionWrapper" *ngIf="synopsis">
          <div class="animeSectionContent">
            <p>{{ message.synopsis }}</p>
          </div>
        </div>
      </div>
      <div class="animeAccordionSection">
        <h2>Episodes</h2>
      </div>

      <div class="animeEpisodes">
        <div *ngFor="let ep of totalEpisodes" class="animeEpisode">
          <div class="episodeLayout">
            <div class="episodeThumbnail">
              <img
                class="thumbnail"
                src="assets/images/test.jpg"
                alt="Thumbnail - Episode 1"
              />
            </div>
            <p>Episode {{ep+1}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
