// GLOBAL STYLING
// --------------
//     File Name: styles
//     URL Section: N/A
//     Extra Information: Global styling stylesheet
// --------------

@import 'assets/stylesheets/globalVariables';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

body {
	background-color: $theme-default;
}

::-ms-clear {
	display: none;
}