@import '../../../assets/stylesheets/globalVariables';
@import '../../../assets/stylesheets/stackOrder';


// //SideWayys
// #sidebar-menu-trigger {
// 	position: fixed;
// 	top: 0;
// 	width: 100%;
// 	height: $header-width;
// 	right: 100%;
// 	transform: rotate(-90deg);
// 	transform-origin: right top;
// 	padding-right: 10px;
// }

// #menu-trigger-wrapper {
// 	position: relative;
// 	top: 50%;
// 	transform: translateY(-50%) rotate(180deg);
// }

// #menu-trigger-icon {
// 	transform: rotate(90deg);
// 	color: salmon;
// 	display: inline-block;
// }

// #menu-current-page {
// 	transform: rotate(180deg);
// 	display: inline-block;
// }

// #sidebar-menu-trigger {
// 	position: fixed;
// 	top: 0;
// 	width: 100%;
// 	height: $header-width;
// 	// background-color: aquamarine;
// 	z-index: $menu-sidebarMenuTrigger-stack;
// }


// #menu-trigger-wrapper {

// }

// #menu-trigger-icon {
// 	position: relative;
// 	float: left;
// 	z-index: 101;
// 	padding-right: 7px;
// 	// display: inline-block;
// }

// #menu-icon, #menu-page {
// 	padding: 7px 0;
// }


// #menu-page::before {
// 	content: '';
// 	border-left: 2px solid rgba(32, 35, 39, 0.2);
// 	height: 100%;
// 	padding-right: 7px;
// }



// #sidebar-menu {
// 	padding-top: 150px;
// 	position: fixed;
// 	height: 100%;
// 	width: 280px;
// 	background-color: #333333;
// 	z-index: $menu-sidebarMenu-stack;
// }

// #menu-navigation {
//   ul {
//     list-style-type: none;
//   }

//     a:hover, a:visited, a:link, a:active {
//     text-decoration: none;
//     font-weight: bold;
//     color: salmon;
//   }
// }


#menu-category {
	width: 100%;
	height: 100%;
}

#menu-category-wrapper {
float: right;
}

#menu-category-list {
	list-style-type: none;

	li {
		display: inline-block;
	}
}