<!-- <div id="sidebar-menu-trigger">
  <div id="menu-trigger-wrapper">
    <div id="menu-trigger-icon" (click)="toggleNavigationMenu()">
      <div id="menu-icon">icon</div>
    </div>
    <div id="menu-current-page">
      <div id="menu-page">{{ PageState }}</div>
    </div>
  </div>
</div> -->

<!-- <div id="sidebar-menu">
  <div id="menu-navigation">
    <ul id="menu-navigation-list" >
      <li routerLinkActive="active"><a routerLink="/anime">ANIME</a> </li>
      <li routerLinkActive="active"><a routerLink="/profile">PROFILE</a></li>
      <li routerLinkActive="active"><a routerLink="/create">GET ANIME INFO</a></li>
      <li routerLinkActive="active" *ngIf="!authService.isLoggedIn()"><a routerLink="/login">LOGIN</a></li>
      <li *ngIf="authService.isLoggedIn()"><a (click)="onLogoutClick()" routerLink="">LOGOUT</a></li>
    </ul>
  </div>
</div> -->

<div id="menu-category">
  <div id="menu-category-wrapper">
    <ul id="menu-category-list">
        <li routerLinkActive="active"><a routerLink="/anime">ANIME</a> </li>
        <li routerLinkActive="active"><a routerLink="/profile">PROFILE</a></li>
        <!-- <li routerLinkActive="active"><a routerLink="/create">GET ANIME INFO</a></li> -->
        <li routerLinkActive="active" *ngIf="!authService.isLoggedIn()"><a routerLink="/login">LOGIN</a></li>
        <li *ngIf="authService.isLoggedIn()"><a (click)="onLogoutClick()" routerLink="">LOGOUT</a></li>
    </ul>
  </div>
</div>


  <!-- Addition TBD:
  Aditions:
  - Animation of navigtation to be completed

  Bugs:
  - fix navigating URI will not trigger removal of no-scroll class. *Fix: add click toggleMenuOff() option.
  -->
