// GLOBAL SITE VARIABLES
// ---------------------
//     File Name: globalVariables (partial)
//     URL Section: N/A
//     Extra Information: Global variables for stylesheet
// ---------------------

// Remopve these after
$themeLight: #F7F7F7;
$themeDefault: $themeLight;
$headerHeight: 0;



$theme-light: #FFF;
$theme-dark: #FFF;
$theme-default: #FFFFFF;


$header-width: 3em;
