$default_stack: 0;

// $header_stack: ($default_stack + 1);

// $navigationMenu_stack: ($header_stack + 1);
// $navigationMenuTrigger_stack: ($header_stack + 2);

$menu-sidebarMenu-stack: $default_stack;


$app-appWrapper-stack: ($menu-sidebarMenu-stack + 1);
$menu-sidebarMenuTrigger-stack: ($app-appWrapper-stack + 1);

